body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h1, h2 {
    margin-bottom: 20px;
}

nav.navbar {
    padding: 15px 0;
}

section {
    padding: 50px 0;
}

#customers img {
    margin: 10px;
}

#gallery img {
    width: 100%;
    height: auto;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin-bottom: 15px;
    font-size: 18px;
}

.service-col {
    background-color: red;
    height: 300px;
}